:root{
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
    font-family: Roboto;
    font-size: 14px;
    --box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
    --animation-duration: 3s;
}
body{
    overflow:hidden;
    animation: unhide var(--animation-duration) ease-in 3s 2 forwards;
}
@keyframes unhide{              /* Make scrollbar visible again once page has loaded */
    100%{
        overflow:visible;
    }
}
.loading-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: var(--tertiary);
    animation: loading var(--animation-duration) linear 1 forwards;
    animation: disappear 1s linear 3s 1 forwards;
    font-family: Shrikhand;
    font-size: 30px;
    z-index: 2;
}
@keyframes loading{                 /* Cover whole screen during loading animation */
    99.99%{
        background: var(--tertiary);
    }
    100%{
        background: transparent;
    }
}
@keyframes disappear{               /* Remove loading screen to enable main page */
    100%{
        left: -999999px;
        width: 0;
        height: 0;
    }
}
.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: var(--primary);
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear 2;
  }
@keyframes shadowRolling {
    0% {
      box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    12% {
      box-shadow: 100px 0 var(--primary), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    25% {
      box-shadow: 110px 0 var(--primary), 100px 0 var(--primary), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
    }
    36% {
      box-shadow: 120px 0 var(--primary), 110px 0 var(--primary), 100px 0 var(--primary), 0px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 130px 0 var(--primary), 120px 0 var(--primary), 110px 0 var(--primary), 100px 0 var(--primary);
    }
    62% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--primary), 120px 0 var(--primary), 110px 0 var(--primary);
    }
    75% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--primary), 120px 0 var(--primary);
    }
    87% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--primary);
    }
    100% {
      box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
  }


header{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo{
    margin: 20px 0 10px 0;
    width: 45%;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-map-marker-alt{
   margin-right: 20px;
   /* position: relative;
   right: 50px; */
}
#location{
    display: flex;
    justify-content: center;
    background: #eaeaea;
}
.location-text{
    
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f6;
    padding-bottom: 40px;
}
.subtitle{
    text-align: center;
    font-size: 16px;
    margin: 0 0 10px 0;
    /* background: dodgerblue; */
}
h1{
    margin: 10px 0 0 0;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    /* background: gold; */
}
#intro h2{
    margin: 0;
    text-align: center;
    /* background: crimson; */
}
.button{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 45px;
    border: none;
    background: linear-gradient(var(--secondary),var(--primary));
    box-shadow: var(--box-shadow);
    padding: 10px;
    transition: background-color, box-shadow 0.4s ease-out;
}
#overview{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
}
h2{
    margin-left: 20px;
}
.overview-card{
    display: flex;
    align-items: center;
}
.overview-card-container{
    display: flex;
    align-items: center;
    background: #f6f6f6;
    border-radius: 25px;
    padding: 8px;
    margin: 15px 15px 5px 25px;
    width: 100%;
    box-shadow: var(--box-shadow);
}
.circle{
    background: var(--primary);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    position: absolute;
    left: 10px;
}
.overview-icon{
    margin: 20px;
    color: grey;
}
.overview-card-text{
    font-weight: bold;
}
#cards{
    background: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 40px;
}
#cards a{
    color: black;
}
.resto-card{
    background: white;
    border-radius: 15px;
    margin: 0 20px 15px 20px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.card-img-box{
    position: relative;
    
}
.img-label{
    background: var(--tertiary);
    color: #249376;
    width: min-content;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1;
}
.card-img{
    position: relative;
    height: 160px;
    width: 100%;
    object-fit: cover;
}
.card-details{
    display: flex;
    align-items: center;
    padding: 15px;
    /* background: gold; */
    height: 65px;
}
.card-text{
    margin-right: auto;
}
.card-text__title, .card-location{
    font-size: 14px;
    margin: 0;

}
.card-text__title{
    /* background: gold; */
    padding-bottom: 5px;
}
.card-location{
    /* background: crimson; */
}
.heart-icon{
    font-size: 1.8em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    transition: color 0.3s ease-in;
}


.heart-icon:hover{
    color: var(--primary);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary);
    cursor: pointer;
}



.overview-card-container:hover{
    background: #f5edff;
}
.overview-card-container:hover span{
    color: var(--primary);
}
a:hover{
    cursor: pointer;
}
a:visited{
    color: inherit;
}
a{
    text-decoration: none;
}

button:hover{
    background: var(--secondary);
    box-shadow: 0 10px 10px 0px HSL(0, 0%, 75%);
    cursor: pointer;
}