:root{
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
    font-family: Roboto;
    font-size: 14px;
    --box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo{
    margin: 20px 0 10px 0;
    width: 45%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-map-marker-alt{
   margin-right: 20px;
   /* position: relative;
   right: 50px; */
}
#location{
    display: flex;
    justify-content: center;
    background: #eaeaea;
}
.location-text{
    
}
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f6;
    padding-bottom: 40px;
}
.subtitle{
    text-align: center;
    font-size: 16px;
    margin: 0 0 10px 0;
    /* background: dodgerblue; */
}
h1{
    margin: 10px 0 0 0;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    /* background: gold; */
}
#intro h2{
    margin: 0;
    text-align: center;
    /* background: crimson; */
}
#explore-button{
    display: flex;
    align-items: center;
    color: white;
}
.button-edge-left, .button-edge-right{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: linear-gradient(var(--secondary),var(--primary));
    position: relative;
    z-index: 0;
}
.explore-button-text{
    background: linear-gradient(var(--secondary),var(--primary));
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.button-edge-left{
    left: 25px;
}
.button-edge-right{
    right: 25px;
}
#overview{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
}
h2{
    margin-left: 20px;
}
.overview-card{
    display: flex;
    align-items: center;
}
.overview-card-container{
    display: flex;
    align-items: center;
    background: #f6f6f6;
    border-radius: 25px;
    padding: 8px;
    margin: 15px 15px 5px 25px;
    width: 100%;
    box-shadow: var(--box-shadow);
}
.circle{
    background: var(--primary);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    position: absolute;
    left: 10px;
}
.overview-icon{
    margin: 20px;
    color: grey;
}
.overview-card-text{
    font-weight: bold;
}
#cards{
    background: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 40px;
}
.resto-card{
    background: white;
    border-radius: 15px;
    margin: 0 20px 15px 20px;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}
.card-img-box{
    /* height: 66.66%; */
    
}
.card-img{
    height: 160px;
    width: 100%;
    object-fit: cover;
}
.card-details{
    display: flex;
    align-items: center;
    padding: 15px;
    /* background: gold; */
    height: 65px;
}
.card-text{
    margin-right: auto;
}
.card-text__title, .card-location{
    font-size: 14px;
    margin: 0;

}
.card-text__title{
    /* background: gold; */
    padding-bottom: 5px;
}
.card-location{
    /* background: crimson; */
}
.heart-icon{
    font-size: 1.8em;
}




footer{
    background: #353535;
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
footer a{
    display: flex;
    align-items: center;
}
.logo-footer{
    filter: invert();
    width: 28%;
    margin-bottom: 10px;
}
.footer-icon{
    padding-right: 10px;
}
footer p{
    margin: 5px 0 5px 0;
}

.overview-card-container:hover{
    background: #f5edff;
}
.overview-card-container:hover span{
    color: var(--primary);
}
a:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}