/* PUT THESE IN ONE FILE INSTEAD OF REPEATING THEM */
:root{
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
    --background: #f5f5f5;
    --highlight: #f4ecfe;
    --box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
    --animation-duration: 4s;
    font-family: Roboto;
    font-size: 14px;
}


.resto-preview__img{
    width: 100%;
    height: 250px;
    z-index: 0;
    overflow: hidden;
    object-fit: cover;
}

.resto-title{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background: var(--background);
    z-index: 1;
    padding: 10px 0 10px 0;
    position: relative;
    top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
}
.resto-title__text{
    font-family: Shrikhand;
    margin: 30px 20px 20px 20px;
    font-weight: normal;
}


.heart-icon{
    font-size: 1.8em;
    margin: 0 20px 0 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: var(--background);
    transition: color 0.3s ease-in;
}
.heart-icon:hover{
    color: var(--primary);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary);
    cursor: pointer;
}

/* MENU SECTION */

.menu{
    background: var(--background);
    padding-bottom: 20px;
    
}
.menu__subheading{
    padding: 20px 0 0 0;
    font-size: 16px;
    font-weight: normal;
    margin: 5px 20px;
}
.menu__underline{
    background: var(--tertiary);
    width: 40px;
    height: 3px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.menu__card{
    background: white;
    border-radius: 15px;
    margin: 14px 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    opacity: 0;
    animation: fade 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}
.first{
    animation-delay: 0.2s;
}
.second{
    animation-delay: 0.5s;
}
.third{
    animation-delay: 0.8s;
}
.fourth{
    animation-delay: 1.1s;
}
.fifth{
    animation-delay: 1.4s;
}
.sixth{
    animation-delay: 1.7s;
}
.seventh{
    animation-delay: 2s;
}
.eighth{
    animation-delay: 2.3s;
}
.ninth{
    animation-delay: 2.6s;
}
.tenth{
    animation-delay: 2.9s;
}

@keyframes fade{
    0%{
        bottom: -20px;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}


.menu__text{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-right: auto;
  padding: 12px;
  flex: 0 2 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__dish-title{
    font-size: 16px;
    padding-bottom: 8px;
}
.menu__dish-title, .menu__dish-details{
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.menu__price-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 2 1 1;
    padding: 10px;
    position: relative;
    right: 0;
    transition: right 0.6s ease-out 0.2s;
}
.menu__price{
  transition: width 0.6s ease-out 0.2s;
  font-weight: bold;
  margin: 0;
  width: 30px;
  position: relative;
}

.menu__tick-container{
  background: var(--tertiary);
  width: 60px;
  height: 100%;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -60px;
  transition: right 1s ease-out;
}
.menu__tick{
    transition: all 1s ease-out;
}

.menu__card:hover .menu__tick-container{
  right: 0px;
}
.menu__card:hover .menu__price{
    width: 100px;
}
.menu__card:hover .menu__tick{
    transform: rotate(360deg);
}

.order{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    background: var(--background);
}

/* BUTTON */

.button{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 45px;
    border: none;
    background: linear-gradient(var(--secondary),var(--primary));
    box-shadow: var(--box-shadow);
    padding: 15px 40px;
    transition: background-color, box-shadow 0.4s ease-out;
    margin: 10px 0 20px 0;
}

button:hover{
    background: var(--secondary);
    box-shadow: 0 10px 10px 0 HSL(0, 0%, 75%);
    cursor: pointer;
}


/* MEDIA QUERIES */

/* TABLET */

@media (min-width: 450px){
    :root{
        font-size: 16px;
    }
    .menu__card{
        margin: 20px 40px;
    }
    .menu__dish-title, .menu__subheading{
        font-size: 18px;
    }
    .menu{
        margin-bottom: -20px;
    }
    .menu__price-container{
        padding: 20px;
    }
    .button{
        margin: 20px 0 40px 0;
    }
}

@media (min-width: 760px){
    :root{
        font-size: 18px;
    }
    .menu{
        margin-bottom: -30px;
    }
    .menu__card{
        margin: 30px 50px;
    }
    .menu__dish-title, .menu__subheading{
        font-size: 20px;
    }
    .menu__dish-title, .menu__dish-details{
        padding: 10px;
    }
    .button{
        font-size: 22px;
        padding: 20px 50px;
    }
    .menu__price-container{
        padding-right: 50px;
        transition-delay: 0s;
    }
    .menu__tick-container{
        width: 200px;
        right: -200px;
        font-size: 2em;
    }
    .menu__card:hover .menu__price{
        width: 220px;
    }
}

/* DESKTOP */

@media (min-width: 1400px){

    .resto-title{
        font-size: 30px;
    }
    .menu{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    .menu__underline{
        margin-bottom: 40px;
    }
    .menu__starter-container, .menu__main-container, .menu__dessert-container{  
        width: 33.33%;
    }
    .menu__card{
        margin: 20px 10px;
    }
    .menu__dish-title, .menu__dish-details{
        padding: 5px;
    }
    .menu__dish-title, .menu__dish-details{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .menu__price-container{
        padding: 0 20px 15px 0;
        transition-delay: 0.1s;
    }
    .menu__tick-container{
        width: 100px;
        right: -100px;
    }
    .menu__card:hover .menu__price{
        width: 140px;
    }
}
