/* PUT THESE IN ONE FILE INSTEAD OF REPEATING THEM */
:root{
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiary: #99E2D0;
    --background: #f5f5f5;
    --highlight: #f4ecfe;
    --box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
    --animation-duration: 4s;
    font-family: Roboto;
    font-size: 14px;
}

/* NEED TO UPDATE header-footer.css */
header{
    display: flex;
    justify-content: center;
    position: relative;
}
.logo{
    margin: 20px 0 10px 0;
    width: 45%;
}
.arrow-container{
    position: absolute;
    left: 20px;
    top: 25px;
}
.img-main{
    width: 100%;
    height: 250px;
    z-index: 0;
    overflow: hidden;
    object-fit: cover;
}

.title-box{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background: var(--background);
    z-index: 1;
    padding: 10px 0 10px 0;
    position: relative;
    top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -35px;
}
.resto-title{
    font-family: Shrikhand;
    margin: 30px 20px 20px 20px;
    font-weight: normal;
}
.heart-icon{
    font-size: 1.8em;
    margin: 0 20px 0 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: var(--background);
    transition: color 0.3s ease-in;
}
.heart-icon:hover{
    color: var(--primary);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary);
    cursor: pointer;
}

/* MENU SECTION */

.menu{
    background: var(--background);
    margin-bottom: -10px;
}
.menu-subheading{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    margin-left: 20px;
}
.underline{
    background: var(--tertiary);
    width: 40px;
    height: 3px;
    margin-left: 20px;
    margin-top: 5px;
}
.menu-card{
    background: white;
    border-radius: 15px;
    margin: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    opacity: 0;
    animation: fade 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}
.first{
    animation-delay: 0.2s;
}
.second{
    animation-delay: 0.5s;
}
.third{
    animation-delay: 0.8s;
}
.fourth{
    animation-delay: 1.1s;
}
.fifth{
    animation-delay: 1.4s;
}
.sixth{
    animation-delay: 1.7s;
}
.seventh{
    animation-delay: 2s;
}
.eighth{
    animation-delay: 2.3s;
}
.ninth{
    animation-delay: 2.6s;
}
.tenth{
    animation-delay: 5.9s;
}

@keyframes fade{
    0%{
        bottom: -20px;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}


.menu-text{
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin-right: auto;
  padding: 10px;
  flex: 0 2 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dish-title{
    font-size: 16px;
}
.dish-title, .dish-details{
    margin: 0;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}
.price-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 2 1 1;
    padding: 10px;
    position: relative;
    right: 0;
    transition: right 0.6s ease-out 0.2s;
}
.price{
  transition: width 0.6s ease-out 0.2s;
  font-weight: bold;
  margin: 0;
  width: 30px;
  position: relative;
}

.tick-container{
  background: var(--tertiary);
  width: 50px;
  height: 100%;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -50px;
  transition: right 1s ease-out;
}
.tick{
    transition: all 1s ease-out;
}

.menu-card:hover .tick-container{
  right: 0px;
}
.menu-card:hover .price{
    width: 70px;
}
.menu-card:hover .tick{
    transform: rotate(360deg);
}








#order{
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    background: var(--background);
}

/* BUTTON */

.button{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 45px;
    border: none;
    background: linear-gradient(var(--secondary),var(--primary));
    box-shadow: var(--box-shadow);
    padding: 10px 30px 10px 30px;
    transition: background-color, box-shadow 0.4s ease-out;
    margin: 10px 0 20px 0;
}

button:hover{
    background: var(--secondary);
    box-shadow: 0 10px 10px 0 HSL(0, 0%, 75%);
    cursor: pointer;
}


/* MEDIA QUERIES */

/* TABLET */

@media (min-width: 450px){
    :root{
        font-size: 16px;
    }
    .menu-card{
        margin: 20px 40px;
    }
    .menu-card h3, .menu-subheading{
        font-size: 18px;
    }
    .menu{
        margin-bottom: -20px;
    }
    .price-container{
        padding: 20px;
    }
    .button{
        margin: 20px 0 40px 0;
    }
}

@media (min-width: 760px){
    :root{
        font-size: 18px;
    }
    .menu{
        margin-bottom: -30px;
    }
    .menu-card{
        margin: 30px 50px;
    }
    .menu-card h3, .menu-subheading{
        font-size: 20px;
    }
    .menu-text *{
        padding: 10px;
    }
    .button{
        font-size: 22px;
        padding: 20px 50px;
    }
    .price-container{
        padding-right: 50px;
        transition-delay: 0s;
    }
    .tick-container{
        width: 200px;
        right: -200px;
        font-size: 2em;
    }
    .menu-card:hover .price{
        width: 220px;
    }
}

/* DESKTOP */

@media (min-width: 1380px){

    .resto-title{
        font-size: 50px;
    }
    .menu{
        display: flex;
        justify-content: center;
        padding: 30px;
    }
    .underline{
        margin-bottom: 40px;
    }
    .starter-container, .main-container, .dessert-container{  
        width: 33.33%;
    }
    .menu-card{
        margin: 20px 10px;
    }
    .menu-text *{
        padding: 5px;
    }
    .dish-title, .dish-details{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .price-container{
        padding: 0 20px 15px 0;
        transition-delay: 0.1s;
    }
    .tick-container{
        width: 100px;
        right: -100px;
    }
    .menu-card:hover .price{
        width: 120px;
    }
}
