.footer{
    background: #353535;
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: white;

    @include media-query(tablet-1){
        padding: 40px;
        align-items: flex-end;
    }
    
    &__link{
        display: flex;
        align-items: center;
        color: white;
        width: max-content;
    }
    &__link:hover{
        text-decoration: underline;
    }
    &__logo{
        filter: #{brightness(10000%)};
        width: 28%;
        margin-bottom: 10px;
    }
    &__icon{
        padding-right: 10px;
    }
    &__text{
        margin: 5px 0 5px 0;
    }
}
