:root {
  font-family: Roboto;
  font-size: 14px;
}

/* || LOADING SCREEN */
body {
  overflow: hidden;
  -webkit-animation: unhide 4s ease-in 0.1s forwards;
          animation: unhide 4s ease-in 0.1s forwards;
}

@-webkit-keyframes unhide {
  /* Make scrollbar visible again once page has loaded */
  100% {
    overflow-y: visible;
  }
}

@keyframes unhide {
  /* Make scrollbar visible again once page has loaded */
  100% {
    overflow-y: visible;
  }
}

.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #99E2D0;
  -webkit-animation: loading 4s linear 1 forwards;
          animation: loading 4s linear 1 forwards;
  -webkit-animation: disappear 1s linear 3s 1 forwards;
          animation: disappear 1s linear 3s 1 forwards;
  font-family: Shrikhand;
  font-size: 30px;
  z-index: 2;
}

.loading-screen__spinner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #9356DC;
  left: -100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: spinner 3s linear 2;
          animation: spinner 3s linear 2;
}

@-webkit-keyframes loading {
  /* Cover whole screen during loading animation */
  99.99% {
    background: #99E2D0;
  }
  100% {
    background: transparent;
  }
}

@keyframes loading {
  /* Cover whole screen during loading animation */
  99.99% {
    background: #99E2D0;
  }
  100% {
    background: transparent;
  }
}

@-webkit-keyframes disappear {
  /* Remove loading screen to enable main page */
  100% {
    left: -999999px;
    width: 0;
    height: 0;
  }
}

@keyframes disappear {
  /* Remove loading screen to enable main page */
  100% {
    left: -999999px;
    width: 0;
    height: 0;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    -webkit-box-shadow: 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    -webkit-box-shadow: 110px 0 #9356DC, 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 110px 0 #9356DC, 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    -webkit-box-shadow: 120px 0 #9356DC, 110px 0 #9356DC, 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 120px 0 #9356DC, 110px 0 #9356DC, 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    -webkit-box-shadow: 130px 0 #9356DC, 120px 0 #9356DC, 110px 0 #9356DC, 100px 0 #9356DC;
            box-shadow: 130px 0 #9356DC, 120px 0 #9356DC, 110px 0 #9356DC, 100px 0 #9356DC;
  }
  62% {
    -webkit-box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC, 120px 0 #9356DC, 110px 0 #9356DC;
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC, 120px 0 #9356DC, 110px 0 #9356DC;
  }
  75% {
    -webkit-box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC, 120px 0 #9356DC;
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC, 120px 0 #9356DC;
  }
  87% {
    -webkit-box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC;
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC;
  }
  100% {
    -webkit-box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}

@keyframes spinner {
  0% {
    -webkit-box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    -webkit-box-shadow: 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    -webkit-box-shadow: 110px 0 #9356DC, 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 110px 0 #9356DC, 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    -webkit-box-shadow: 120px 0 #9356DC, 110px 0 #9356DC, 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0);
            box-shadow: 120px 0 #9356DC, 110px 0 #9356DC, 100px 0 #9356DC, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    -webkit-box-shadow: 130px 0 #9356DC, 120px 0 #9356DC, 110px 0 #9356DC, 100px 0 #9356DC;
            box-shadow: 130px 0 #9356DC, 120px 0 #9356DC, 110px 0 #9356DC, 100px 0 #9356DC;
  }
  62% {
    -webkit-box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC, 120px 0 #9356DC, 110px 0 #9356DC;
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC, 120px 0 #9356DC, 110px 0 #9356DC;
  }
  75% {
    -webkit-box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC, 120px 0 #9356DC;
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC, 120px 0 #9356DC;
  }
  87% {
    -webkit-box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC;
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #9356DC;
  }
  100% {
    -webkit-box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
            box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}

/* || LOCATION */
.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), color-stop(10%, #eaeaea));
  background: linear-gradient(#d0d0d0, #eaeaea 10%);
}

.location__container {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.location__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  position: absolute;
  left: -30px;
  top: 12px;
}

/* || INTRO */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  padding-bottom: 40px;
}

.intro__title {
  margin: 10px 0 0 0;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

.intro__subtitle {
  text-align: center;
  font-size: 16px;
  margin: 0 20px 10px 20px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 45px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
          box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
  padding: 15px;
  -webkit-transition: background-color, -webkit-box-shadow 0.4s ease-out;
  transition: background-color, -webkit-box-shadow 0.4s ease-out;
  transition: background-color, box-shadow 0.4s ease-out;
  transition: background-color, box-shadow 0.4s ease-out, -webkit-box-shadow 0.4s ease-out;
  margin: 20px 0 10px 0;
}

/* || OVERVIEW */
.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
  padding-top: 20px;
}

.overview__title {
  margin-left: 20px;
}

.overview__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  border-radius: 25px;
  padding: 8px;
  margin: 15px 15px 5px 25px;
  width: 100%;
  -webkit-box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
          box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
  position: relative;
  -webkit-animation: highlight-card 3s ease-out;
          animation: highlight-card 3s ease-out;
  /* Animate card colours on page load */
}

.overview__card-text {
  font-weight: bold;
}

.overview__icon {
  -webkit-animation: highlight-icon 3s ease-out 6s;
          animation: highlight-icon 3s ease-out 6s;
  /* Animate card icon colours on page load */
  margin: 20px;
  color: grey;
}

/* Create animation classes for cards */
.card-1 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.card-2 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.card-3 {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: highlight-card-end 3s ease-out 9s forwards;
          animation: highlight-card-end 3s ease-out 9s forwards;
}

@-webkit-keyframes highlight-card {
  50% {
    background: #f4ecfe;
    -webkit-box-shadow: 0 10px 10px 0px HSL(0, 0%, 75%);
            box-shadow: 0 10px 10px 0px HSL(0, 0%, 75%);
  }
  100% {
    background: #f5f5f5;
  }
}

@keyframes highlight-card {
  50% {
    background: #f4ecfe;
    -webkit-box-shadow: 0 10px 10px 0px HSL(0, 0%, 75%);
            box-shadow: 0 10px 10px 0px HSL(0, 0%, 75%);
  }
  100% {
    background: #f5f5f5;
  }
}

@-webkit-keyframes highlight-card-end {
  /* maintain end state */
  100% {
    background: #f4ecfe;
  }
}

@keyframes highlight-card-end {
  /* maintain end state */
  100% {
    background: #f4ecfe;
  }
}

@-webkit-keyframes highlight-icon {
  50% {
    color: #9356DC;
  }
  100% {
    color: grey;
  }
}

@keyframes highlight-icon {
  50% {
    color: #9356DC;
  }
  100% {
    color: grey;
  }
}

@-webkit-keyframes highlight-icon-end {
  /* maintain end state */
  100% {
    color: #9356DC;
  }
}

@keyframes highlight-icon-end {
  /* maintain end state */
  100% {
    color: #9356DC;
  }
}

/* Create animation classes for icons */
.icon-1 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.icon-2 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.icon-3 {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation: highlight-icon-end 3s ease-out 8s forwards;
          animation: highlight-icon-end 3s ease-out 8s forwards;
}

.circle {
  background: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75em;
  position: absolute;
  left: -10px;
  -webkit-animation: highlighted-circle 3s ease-out;
          animation: highlighted-circle 3s ease-out;
  /* Animate circle colour on page load */
}

/* Create animation classes for circles */
.circle-1 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.circle-2 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.circle-3 {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes highlighted-circle {
  50% {
    background: #FF79DA;
  }
}

@keyframes highlighted-circle {
  50% {
    background: #FF79DA;
  }
}

/* || RESTAURANT CARDS */
.resto {
  background: #f5f5f5;
  padding-top: 28px;
  padding-bottom: 40px;
}

.resto__title {
  margin-left: 20px;
}

.resto__wrapper {
  margin-top: 25px;
}

.resto__link {
  color: black;
}

.resto__card {
  background: white;
  border-radius: 15px;
  margin: 0 20px 15px 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
          box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);
}

.resto__img-box {
  position: relative;
}

.resto__img {
  position: relative;
  height: 160px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resto__img-label {
  background: #99E2D0;
  color: #249376;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 1;
}

.resto__card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 65px;
}

.resto__card-text {
  margin-right: auto;
}

.resto__card-title, .resto__card-location {
  font-size: 14px;
  margin: 0;
}

.resto__card-title {
  padding-bottom: 5px;
}

.heart-icon {
  font-size: 1.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.heart-icon:hover {
  color: #9356DC;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9356DC;
  cursor: pointer;
}

/*  */
a:hover {
  cursor: pointer;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

button:hover {
  background: #FF79DA;
  -webkit-box-shadow: 0 10px 10px 0px HSL(0, 0%, 75%);
          box-shadow: 0 10px 10px 0px HSL(0, 0%, 75%);
  cursor: pointer;
}

/* MEDIA QUERIES */
/* TABLET */
@media (min-width: 415px) {
  :root {
    font-size: 16px;
  }
  .location__icon {
    left: -50px;
    top: 19px;
  }
  .intro__title {
    font-size: 28px;
  }
  .intro__subtitle {
    font-size: 20px;
  }
  .button {
    padding: 20px;
  }
  .overview, .resto {
    padding: 20px;
  }
  .overview__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .overview__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .overview__card-wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .overview__card-text {
    margin-right: 20px;
  }
  .resto__card {
    margin-bottom: 40px;
  }
  .resto__img {
    height: 220px;
  }
  .resto__card-title, .resto__card-location {
    font-size: 18px;
  }
}

/* DESKTOP */
@media (min-width: 1000px) {
  .intro__title {
    font-size: 40px;
  }
  .button--explore {
    margin-top: 20px;
  }
  .overview {
    padding-bottom: 40px;
    gap: 30px;
  }
  .overview__wrapper {
    gap: 30px;
  }
  .overview__card-wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .overview__card {
    padding-left: 30px;
  }
  .overview__card-text {
    padding-right: 20px;
  }
  .overview__icon {
    font-size: 1.5em;
  }
  .circle {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    left: -20px;
  }
  /*  */
  .resto__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resto__link {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .resto__card-details {
    height: 100px;
    padding: 30px;
  }
  .resto__card-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .heart-icon {
    margin-left: 20px;
  }
}

@media (min-width: 1160px) {
  .resto__card-title, .resto__card-location {
    font-size: 24px;
  }
}
/*# sourceMappingURL=index.css.map */