$primary: #9356DC; 
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background: #f5f5f5;
$box-shadow: 0 10px 25px 3px HSL(0, 0%, 85%);

:root{
    font-family: Roboto;
    font-size: 14px;
}


.resto-preview__img{
    width: 100%;
    height: 250px;
    z-index: 0;
    overflow: hidden;
    object-fit: cover;
}

.resto-title{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background: $background;
    z-index: 1;
    padding: 10px 0 10px 0;
    position: relative;
    top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;

    &__text{
        font-family: Shrikhand;
        margin: 30px 20px 20px 20px;
        font-weight: normal;
    }
}

.heart-icon{
    font-size: 1.8em;
    margin: 0 20px 0 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: $background;
    transition: color 0.3s ease-in;
}
.heart-icon:hover{
    color: $primary;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $primary;
    cursor: pointer;
}

/* MENU SECTION */

.menu{
    background: $background;
    padding-bottom: 20px;
    
    &__subheading{
        padding: 20px 0 0 0;
    font-size: 16px;
    font-weight: normal;
    margin: 5px 20px;
    }

    &__underline{
        background: $tertiary;
        width: 40px;
        height: 3px;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    &__card{
        background: white;
        border-radius: 15px;
        margin: 14px 10px;
        box-shadow: $box-shadow;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        opacity: 0;
        animation: fade 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
    }
    &__text{
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin-right: auto;
        padding: 12px;
        flex: 0 2 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__dish-title{
        font-size: 16px;
        padding-bottom: 8px;
    }

    &__dish-title, &__dish-details{
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }

    &__price-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 2 1 1;
        padding: 10px;
        position: relative;
        right: 0;
        transition: right 0.6s ease-out 0.2s;
    }

    &__price{
        transition: width 0.6s ease-out 0.2s;
        font-weight: bold;
        margin: 0;
        width: 30px;
        position: relative;
    }
      
    &__tick-container{
        background: $tertiary;
        width: 60px;
        height: 100%;
        color: white;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -60px;
        transition: right 1s ease-out;
    }

    &__tick{
        transition: all 1s ease-out;
    }
      
    &__card:hover .menu__tick-container{
        right: 0px;
    }

    &__card:hover .menu__price{
        width: 100px;
    }

    &__card:hover .menu__tick{
        transform: rotate(360deg);
    }
}

/* create classes for card animations */
$animation-delay: 0.2s;

@for $i from 1 through 10 {
    @if $i == 1{
        .card-1{
            animation-delay: $animation-delay;
        }
    }@else{
        .card-#{$i} {
                animation-delay: $animation-delay + 0.3;
                $animation-delay: $animation-delay + 0.3;
            }
        }
}

@keyframes fade{
    0%{
        bottom: -20px;
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        bottom: 0;
    }
}

.order{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    background: $background;
}

/* BUTTON */

.button{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 45px;
    border: none;
    background: linear-gradient($secondary,$primary);
    box-shadow: $box-shadow;
    padding: 15px 40px;
    transition: background-color, box-shadow 0.4s ease-out;
    margin: 10px 0 20px 0;
}

button:hover{
    background: $secondary;
    box-shadow: 0 10px 10px 0 HSL(0, 0%, 75%);
    cursor: pointer;
}


/* MEDIA QUERIES */

/* TABLET */

@media (min-width: 450px){
    :root{
        font-size: 16px;
    }
    .menu{
        margin-bottom: -20px;

        &__card{
            margin: 20px 40px;
        }
        &__dish-title, &__subheading{
            font-size: 18px;
        }
        &__price-container{
            padding: 20px;
        }
    }
    .button{
        margin: 20px 0 40px 0;
    }
}

@media (min-width: 760px){
    :root{
        font-size: 18px;
    }
    .menu{
        margin-bottom: -30px;

        &__card{
            margin: 30px 50px;
        }
        &__dish-title, &__subheading{
            font-size: 20px;
        }
        &__dish-title, &__dish-details{
            padding: 10px;
        }
        &__price-container{
            padding-right: 50px;
            transition-delay: 0s;
        }     
        &__tick-container{
            width: 200px;
            right: -200px;
            font-size: 2em;
        }
        &__card:hover &__price{
            width: 220px;
        }
    }
    .button{
        font-size: 22px;
        padding: 20px 50px;
    }
}

/* DESKTOP */

@media (min-width: 1400px){

    .resto-title{
        font-size: 30px;
    }
    .menu{
        display: flex;
        justify-content: center;
        padding: 30px;
    
        &__underline{
            margin-bottom: 40px;
        }
        &__starter-container,   &__main-container,    &__dessert-container{  
            width: 33.33%;
        }
        &__card{
            margin: 20px 10px;
        }
        &__dish-title,  &__dish-details{
            padding: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &__price-container{
            padding: 0 20px 15px 0;
            transition-delay: 0.1s;
        }
        &__tick-container{
            width: 100px;
            right: -100px;
        }
        &__card:hover   &__price{
            width: 140px;
        }
    }
}
