:root{
    @include media-query(tablet-1){
            font-size: 16px;
    }
}

  /* || LOCATION */

.location{
    display: flex;
    justify-content: center;
    background: linear-gradient(#d0d0d0,#eaeaea 10%);

    &__container{
        position: relative;
        width: max-content;
    }

    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        position: absolute;
        left: -30px;
        top: 12px;

        @include media-query(tablet-1){
            left: -50px;
            top: 15px;
        }
    }

    &__text{
        font-size: 14px;
        font-weight: normal;
    }

    &__text, &__icon{
        @include media-query(tablet-1){
            font-size: 16px;
        }

        @include media-query(desktop-1){
            font-size: 20px;
        }
    }
}

/* || INTRO */

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
    padding-bottom: 40px;

    &__title{
        margin: 10px 0 0 0;
        text-align: center;
        padding: 20px;
        font-size: 20px;

        @include media-query(tablet-1){
            font-size: 28px;
        }

        @include media-query(desktop-1){
            font-size: 40px;
        }
    }

    &__subtitle{
        text-align: center;
        font-size: 16px;
        margin: 0 20px 10px 20px;

        @include media-query(tablet-1){
            font-size: 20px;
        }
    }
}


/* || OVERVIEW */

.overview{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 20px;
    background: white;

    @include media-query(tablet-1){
        padding: 20px;
    }

    @include media-query(desktop-1){
        padding-bottom: 40px;
        gap: 30px;
    }

    &__title{
        margin-left: 20px;

        @include media-query(tablet-1){
            align-self: flex-start;
        }
    }

    &__wrapper{
        @include media-query(tablet-2){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        @include media-query(desktop-1){
            gap: 30px;
        }
    }
}

/* || RESTAURANT */

.resto{
    background: $background;
    padding-top: 28px;
    padding-bottom: 40px;

    @include media-query(tablet-1){
        padding: 20px;
    }

    &__title{
        margin-left: 20px;
    }

    &__wrapper{
        margin-top: 25px;

        @include media-query(desktop-1){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}