.numbered-card{
    display: flex;
    align-items: center;

    @include media-query(tablet-1){
        width: max-content;
    }
    

    &__body{
        display: flex;
        align-items: center;
        background: $background;
        border-radius: 25px;
        padding: 8px;
        margin: 15px 15px 5px 25px;
        width: 100%;
        box-shadow: $box-shadow;
        position: relative;
        animation: highlight-card 3s ease-out 6s;      /* Animate card colours on page load */

        @keyframes highlight-card{
            50%{
                background: $highlight;
                box-shadow: 0 10px 10px 0px HSL(0, 0%, 75%);
            }
            100%{
                background: $background;
            }
        }

        @include media-query(desktop-1){
            padding-left: 30px;
        }
    }

    &__text{
        font-weight: bold;

        @include media-query(tablet-1){
            margin-right: 20px;
        }

        @include media-query(desktop-1){
            padding-right: 20px;
        }
    }

    &__icon{
        animation: highlight-icon 3s ease-out 6s;   /* Animate card icon colours on page load */
        margin: 20px;
        color: grey;

        @keyframes highlight-icon{
            50%{
               color: $primary;
            }
            100%{
               color: grey;
            }
        }

        @include media-query(desktop-1){
            font-size: 1.5em;
        }
    }

    &__number{
        background: $primary;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75em;
        position: absolute;
        left: -10px;
        animation: highlighted-circle 3s ease-out;   /* Animate circle colour on page load */
    
        @keyframes highlighted-circle{
            50%{
                background: $secondary;
            }
        }
    
        @include media-query(desktop-1){
            width: 40px;
            height: 40px;
            font-size: 1.5em;
            left: -20px;
        }
    }
}

/* || ANIMATION CLASSES */  /* NOT REQUIRED BY THE SPEC */

/* Create animation classes for numbered cards */
$animation-delay: (4s, 6s, 8s);

@for $i from 1 through 3 {
    @if $i == 3{
        .nc-card-3{
            animation-delay: nth($animation-delay, $i);
            animation-fill-mode: forwards;
            animation: highlight-card-end 3s ease-out 9s forwards;

            @keyframes highlight-card-end{       /* maintain end state */
                100%{
                    background: $highlight;
                }
            }
        }
    }@else{
        .nc-card-#{$i} {
            animation-delay: nth($animation-delay, $i);
        }
    }
}

/* Create animation classes for icons */
@for $i from 1 through 3 {
    @if $i == 3{
        .icon-3{
            animation-delay: nth($animation-delay, $i);
            animation: highlight-icon-end 3s ease-out 8s forwards;

            @keyframes highlight-icon-end{      /* maintain end state */
                100%{
                    color: $primary;
                }
            }
        }
    }@else{
        .icon-#{$i} {
            animation-delay: nth($animation-delay, $i);
        }
    }
}

/* Create animation classes for circles */
@for $i from 1 through 3 {
    .circle-#{$i} {
            animation-delay: nth($animation-delay, $i);
            animation-fill-mode: none;
        }
}