.numbered-card{
    display: flex;
    align-items: center;

    @include media-query(tablet-2){
        width: max-content;
    }
    

    &__body{
        display: flex;
        align-items: center;
        background: $background;
        border-radius: 25px;
        padding: 8px;
        margin: 15px 15px 5px 25px;
        width: 100%;
        box-shadow: $box-shadow;
        position: relative;
        
        &:hover{
            background: $highlight;
            cursor: pointer;

            .numbered-card__icon{
                color: $primary;
        }

        @include media-query(desktop-1){
            padding-left: 30px;
        }
    }

    &__text{
        font-weight: bold;

        @include media-query(tablet-1){
            margin-right: 20px;
        }

        @include media-query(desktop-1){
            padding-right: 20px;
        }
    }

    &__icon{
        margin: 20px;
        color: grey;

        @include media-query(desktop-1){
            font-size: 1.5em;
        }
    }

    &__number{
        background: $primary;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75em;
        position: absolute;
        left: -10px;
       
        @include media-query(desktop-1){
            width: 40px;
            height: 40px;
            font-size: 1.5em;
            left: -20px;
        }
    }
}